body {
	margin:0;
	padding:0;
}

.h {
	text-align:center;
}

.s1 {
	width:60%;
	margin:auto;
}

.glav {
	color:black;
	background:white;
	margin-left:40;
	margin-top:20;
}

a {
	color:black;
	text-decoration:none;
}